body {
background-color: whitesmoke;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

.logo {
font-size: 40px;
font-style: italic;
color: rgb(224, 48, 21);
font-weight: bolder;
float: left;
}

nav {
background-color: whitesmoke;
padding: 10px 20px;
}

ul {
list-style: none;
display: flex;
justify-content: flex-end;
margin: 0;
padding: 0;
}

ul li {
margin-left: 20px;
}

ul li a {
text-decoration: none;
color: black;
font-size: 18px;
padding: 8px 12px;
}

ul li a:hover {
background-color: whitesmoke;
border-radius: 5px;
}

.shop-title {
background-color: rgb(185, 227, 239);
text-align: center;
padding: 45px;
margin-top: 13px;
}

.shop-title h1 {
color: #142b4a;
font-size: 38px;
}

.shop-title p {
color: #526b85;
font-size: 18px;
}

.shop {
display: flex;
width: 90%;
margin: 40px auto;
gap: 30px;
}

.side {
width: 200px;
background-color: white;
padding: 20px;
border-radius: 10px;
height: 430px;

}

.side h2 {
color: #142b4a;
margin-bottom: 20px;
}

.side a {
display: block;
text-decoration: none;
color: #526b85;
padding: 10px;
margin-bottom: 5px;
border-radius: 5px;
}

.side a:hover {
background-color: #dff5ff;
color: #087cff;
}

.products {
display: flex;
flex-wrap: wrap;
gap: 20px;
width: 100%;
}

.product {
background-color: white;
width: 220px;
border-radius: 10px;
padding-bottom: 20px;
text-align: center;
border: 1px solid #d8eaf3;
}

.product:hover {
box-shadow: 0 5px 15px #c8dce8;
}

.product img {
width: 100%;
height: 180px;
object-fit: cover;
border-radius: 10px 10px 0 0;
}

.product h2 {
color: #142b4a;
font-size: 20px;
margin-top: 15px;
}

.product p {
color: #526b85;
font-size: 13px;
line-height: 1.5;
padding: 0 10px;
}

.product h3 {
color: #087cff;
font-size: 20px;
}

.btn {
text-decoration: none;
background-color: rgb(224, 48, 21);
color: white;
padding: 8px 15px;
border-radius: 8px;
}

.btn:hover {
background-color: rgb(188, 105, 220);
}

.offer {
background-color: rgb(185, 227, 239);
text-align: center;
padding: 30px;
margin-top: 30px;
}

.offer h1 {
color: #142b4a;
}

.offer p {
color: #526b85;
}

.offer a {
display: inline-block;
text-decoration: none;
background-color: #087cff;
color: white;
padding: 9px 20px;
border-radius: 10px;
}

.offer a:hover {
background-color: rgb(188, 105, 220);
}
